################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/bin/Debug/net5.0/appsettings.json
/API/reactivities.db
/API/reactivities.rar
/API/appsettings.json
